@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 35px;
    height: 35px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid #325880;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
  }