.rcsb-alignment-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
   }

   .rcsb-alignment-modal-content {
    border: 1px solid #fff;
    width: 500px;
    background-color: #fff;
    border-radius: 3px;
   }

   .rcsb-alignment-modal-main {
    margin: 20px;
    margin-bottom: 10px;
   }