.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    min-width: 90px;
    max-height: 150px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    background-color: white;
    padding: 5px 15px 5px 5px;
    z-index: 2;
    overflow: auto;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    text-align: left;
    cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
    background: #4b6e947c;
}