.rc-tabs-small > .rc-tabs-nav .rc-tabs-tab {
    padding: 8px 0;
    font-size: 14px;
  }
  .rc-tabs-large > .rc-tabs-nav .rc-tabs-tab {
    padding: 16px 0;
    font-size: 16px;
  }
  .rc-tabs-card.rc-tabs-small > .rc-tabs-nav .rc-tabs-tab {
    padding: 6px 16px;
  }
  .rc-tabs-card.rc-tabs-large > .rc-tabs-nav .rc-tabs-tab {
    padding: 7px 16px 6px;
  }
  .rc-tabs-rtl {
    direction: rtl;
  }
  .rc-tabs-rtl .rc-tabs-nav .rc-tabs-tab {
    margin: 0 0 0 32px;
  }
  .rc-tabs-rtl .rc-tabs-nav .rc-tabs-tab:last-of-type {
    margin-left: 0;
  }
  .rc-tabs-rtl .rc-tabs-nav .rc-tabs-tab .anticon {
    margin-right: 0;
    margin-left: 12px;
  }
  .rc-tabs-rtl .rc-tabs-nav .rc-tabs-tab .rc-tabs-tab-remove {
    margin-right: 8px;
    margin-left: -4px;
  }
  .rc-tabs-rtl .rc-tabs-nav .rc-tabs-tab .rc-tabs-tab-remove .anticon {
    margin: 0;
  }
  .rc-tabs-rtl.rc-tabs-left > .rc-tabs-nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .rc-tabs-rtl.rc-tabs-left > .rc-tabs-content-holder {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .rc-tabs-rtl.rc-tabs-right > .rc-tabs-nav {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .rc-tabs-rtl.rc-tabs-right > .rc-tabs-content-holder {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .rc-tabs-rtl.rc-tabs-card.rc-tabs-top > .rc-tabs-nav .rc-tabs-tab:not(:last-of-type),
  .rc-tabs-rtl.rc-tabs-card.rc-tabs-bottom > .rc-tabs-nav .rc-tabs-tab:not(:last-of-type),
  .rc-tabs-rtl.rc-tabs-card.rc-tabs-top > div > .rc-tabs-nav .rc-tabs-tab:not(:last-of-type),
  .rc-tabs-rtl.rc-tabs-card.rc-tabs-bottom > div > .rc-tabs-nav .rc-tabs-tab:not(:last-of-type) {
    margin-right: 0;
    margin-left: 2px;
  }
  .rc-tabs-dropdown-rtl {
    direction: rtl;
  }
  .rc-tabs-dropdown-rtl .rc-tabs-dropdown-menu-item {
    text-align: right;
  }
  .rc-tabs-top,
  .rc-tabs-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rc-tabs-top > .rc-tabs-nav,
  .rc-tabs-bottom > .rc-tabs-nav,
  .rc-tabs-top > div > .rc-tabs-nav,
  .rc-tabs-bottom > div > .rc-tabs-nav {
    margin: 0 0 16px 0;
  }
  .rc-tabs-top > .rc-tabs-nav::before,
  .rc-tabs-bottom > .rc-tabs-nav::before,
  .rc-tabs-top > div > .rc-tabs-nav::before,
  .rc-tabs-bottom > div > .rc-tabs-nav::before {
    position: absolute;
    right: 0;
    left: 0;
    border-bottom: 1px solid #f0f0f0;
    content: '';
  }
  .rc-tabs-top > .rc-tabs-nav .rc-tabs-ink-bar,
  .rc-tabs-bottom > .rc-tabs-nav .rc-tabs-ink-bar,
  .rc-tabs-top > div > .rc-tabs-nav .rc-tabs-ink-bar,
  .rc-tabs-bottom > div > .rc-tabs-nav .rc-tabs-ink-bar {
    height: 2px;
  }
  .rc-tabs-top > .rc-tabs-nav .rc-tabs-ink-bar-animated,
  .rc-tabs-bottom > .rc-tabs-nav .rc-tabs-ink-bar-animated,
  .rc-tabs-top > div > .rc-tabs-nav .rc-tabs-ink-bar-animated,
  .rc-tabs-bottom > div > .rc-tabs-nav .rc-tabs-ink-bar-animated {
    -webkit-transition: width 0.3s, left 0.3s, right 0.3s;
    transition: width 0.3s, left 0.3s, right 0.3s;
  }
  .rc-tabs-top > .rc-tabs-nav .rc-tabs-nav-wrap::before,
  .rc-tabs-bottom > .rc-tabs-nav .rc-tabs-nav-wrap::before,
  .rc-tabs-top > div > .rc-tabs-nav .rc-tabs-nav-wrap::before,
  .rc-tabs-bottom > div > .rc-tabs-nav .rc-tabs-nav-wrap::before,
  .rc-tabs-top > .rc-tabs-nav .rc-tabs-nav-wrap::after,
  .rc-tabs-bottom > .rc-tabs-nav .rc-tabs-nav-wrap::after,
  .rc-tabs-top > div > .rc-tabs-nav .rc-tabs-nav-wrap::after,
  .rc-tabs-bottom > div > .rc-tabs-nav .rc-tabs-nav-wrap::after {
    top: 0;
    bottom: 0;
    width: 30px;
  }
  .rc-tabs-top > .rc-tabs-nav .rc-tabs-nav-wrap::before,
  .rc-tabs-bottom > .rc-tabs-nav .rc-tabs-nav-wrap::before,
  .rc-tabs-top > div > .rc-tabs-nav .rc-tabs-nav-wrap::before,
  .rc-tabs-bottom > div > .rc-tabs-nav .rc-tabs-nav-wrap::before {
    left: 0;
    -webkit-box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
            box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
  }
  .rc-tabs-top > .rc-tabs-nav .rc-tabs-nav-wrap::after,
  .rc-tabs-bottom > .rc-tabs-nav .rc-tabs-nav-wrap::after,
  .rc-tabs-top > div > .rc-tabs-nav .rc-tabs-nav-wrap::after,
  .rc-tabs-bottom > div > .rc-tabs-nav .rc-tabs-nav-wrap::after {
    right: 0;
    -webkit-box-shadow: inset -10px 0 8px -8px rgba(0, 0, 0, 0.08);
            box-shadow: inset -10px 0 8px -8px rgba(0, 0, 0, 0.08);
  }
  .rc-tabs-top > .rc-tabs-nav .rc-tabs-nav-wrap.rc-tabs-nav-wrap-ping-left::before,
  .rc-tabs-bottom > .rc-tabs-nav .rc-tabs-nav-wrap.rc-tabs-nav-wrap-ping-left::before,
  .rc-tabs-top > div > .rc-tabs-nav .rc-tabs-nav-wrap.rc-tabs-nav-wrap-ping-left::before,
  .rc-tabs-bottom > div > .rc-tabs-nav .rc-tabs-nav-wrap.rc-tabs-nav-wrap-ping-left::before {
    opacity: 1;
  }
  .rc-tabs-top > .rc-tabs-nav .rc-tabs-nav-wrap.rc-tabs-nav-wrap-ping-right::after,
  .rc-tabs-bottom > .rc-tabs-nav .rc-tabs-nav-wrap.rc-tabs-nav-wrap-ping-right::after,
  .rc-tabs-top > div > .rc-tabs-nav .rc-tabs-nav-wrap.rc-tabs-nav-wrap-ping-right::after,
  .rc-tabs-bottom > div > .rc-tabs-nav .rc-tabs-nav-wrap.rc-tabs-nav-wrap-ping-right::after {
    opacity: 1;
  }
  .rc-tabs-top > .rc-tabs-nav::before,
  .rc-tabs-top > div > .rc-tabs-nav::before {
    bottom: 0;
  }
  .rc-tabs-top > .rc-tabs-nav .rc-tabs-ink-bar,
  .rc-tabs-top > div > .rc-tabs-nav .rc-tabs-ink-bar {
    bottom: 0;
  }
  .rc-tabs-bottom > .rc-tabs-nav,
  .rc-tabs-bottom > div > .rc-tabs-nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 16px;
    margin-bottom: 0;
  }
  .rc-tabs-bottom > .rc-tabs-nav::before,
  .rc-tabs-bottom > div > .rc-tabs-nav::before {
    top: 0;
  }
  .rc-tabs-bottom > .rc-tabs-nav .rc-tabs-ink-bar,
  .rc-tabs-bottom > div > .rc-tabs-nav .rc-tabs-ink-bar {
    top: 0;
  }
  .rc-tabs-bottom > .rc-tabs-content-holder,
  .rc-tabs-bottom > div > .rc-tabs-content-holder {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .rc-tabs-left > .rc-tabs-nav,
  .rc-tabs-right > .rc-tabs-nav,
  .rc-tabs-left > div > .rc-tabs-nav,
  .rc-tabs-right > div > .rc-tabs-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 50px;
  }
  .rc-tabs-left > .rc-tabs-nav .rc-tabs-tab,
  .rc-tabs-right > .rc-tabs-nav .rc-tabs-tab,
  .rc-tabs-left > div > .rc-tabs-nav .rc-tabs-tab,
  .rc-tabs-right > div > .rc-tabs-nav .rc-tabs-tab {
    margin: 0 0 16px 0;
    padding: 8px 24px;
    text-align: center;
  }
  .rc-tabs-left > .rc-tabs-nav .rc-tabs-tab:last-of-type,
  .rc-tabs-right > .rc-tabs-nav .rc-tabs-tab:last-of-type,
  .rc-tabs-left > div > .rc-tabs-nav .rc-tabs-tab:last-of-type,
  .rc-tabs-right > div > .rc-tabs-nav .rc-tabs-tab:last-of-type {
    margin-bottom: 0;
  }
  .rc-tabs-left > .rc-tabs-nav .rc-tabs-tab-active .rc-tabs-tab-btn,
  .rc-tabs-right > .rc-tabs-nav .rc-tabs-tab-active .rc-tabs-tab-btn,
  .rc-tabs-left > div > .rc-tabs-nav .rc-tabs-tab-active .rc-tabs-tab-btn,
  .rc-tabs-right > div > .rc-tabs-nav .rc-tabs-tab-active .rc-tabs-tab-btn {
    font-weight: normal;
    text-shadow: 0 0 0.25px #325880;
  }
  .rc-tabs-left > .rc-tabs-nav .rc-tabs-nav-wrap,
  .rc-tabs-right > .rc-tabs-nav .rc-tabs-nav-wrap,
  .rc-tabs-left > div > .rc-tabs-nav .rc-tabs-nav-wrap,
  .rc-tabs-right > div > .rc-tabs-nav .rc-tabs-nav-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rc-tabs-left > .rc-tabs-nav .rc-tabs-nav-wrap::before,
  .rc-tabs-right > .rc-tabs-nav .rc-tabs-nav-wrap::before,
  .rc-tabs-left > div > .rc-tabs-nav .rc-tabs-nav-wrap::before,
  .rc-tabs-right > div > .rc-tabs-nav .rc-tabs-nav-wrap::before,
  .rc-tabs-left > .rc-tabs-nav .rc-tabs-nav-wrap::after,
  .rc-tabs-right > .rc-tabs-nav .rc-tabs-nav-wrap::after,
  .rc-tabs-left > div > .rc-tabs-nav .rc-tabs-nav-wrap::after,
  .rc-tabs-right > div > .rc-tabs-nav .rc-tabs-nav-wrap::after {
    right: 0;
    left: 0;
    height: 30px;
  }
  .rc-tabs-left > .rc-tabs-nav .rc-tabs-nav-wrap::before,
  .rc-tabs-right > .rc-tabs-nav .rc-tabs-nav-wrap::before,
  .rc-tabs-left > div > .rc-tabs-nav .rc-tabs-nav-wrap::before,
  .rc-tabs-right > div > .rc-tabs-nav .rc-tabs-nav-wrap::before {
    top: 0;
    -webkit-box-shadow: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
            box-shadow: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
  }
  .rc-tabs-left > .rc-tabs-nav .rc-tabs-nav-wrap::after,
  .rc-tabs-right > .rc-tabs-nav .rc-tabs-nav-wrap::after,
  .rc-tabs-left > div > .rc-tabs-nav .rc-tabs-nav-wrap::after,
  .rc-tabs-right > div > .rc-tabs-nav .rc-tabs-nav-wrap::after {
    bottom: 0;
    -webkit-box-shadow: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.08);
            box-shadow: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.08);
  }
  .rc-tabs-left > .rc-tabs-nav .rc-tabs-nav-wrap.rc-tabs-nav-wrap-ping-top::before,
  .rc-tabs-right > .rc-tabs-nav .rc-tabs-nav-wrap.rc-tabs-nav-wrap-ping-top::before,
  .rc-tabs-left > div > .rc-tabs-nav .rc-tabs-nav-wrap.rc-tabs-nav-wrap-ping-top::before,
  .rc-tabs-right > div > .rc-tabs-nav .rc-tabs-nav-wrap.rc-tabs-nav-wrap-ping-top::before {
    opacity: 1;
  }
  .rc-tabs-left > .rc-tabs-nav .rc-tabs-nav-wrap.rc-tabs-nav-wrap-ping-bottom::after,
  .rc-tabs-right > .rc-tabs-nav .rc-tabs-nav-wrap.rc-tabs-nav-wrap-ping-bottom::after,
  .rc-tabs-left > div > .rc-tabs-nav .rc-tabs-nav-wrap.rc-tabs-nav-wrap-ping-bottom::after,
  .rc-tabs-right > div > .rc-tabs-nav .rc-tabs-nav-wrap.rc-tabs-nav-wrap-ping-bottom::after {
    opacity: 1;
  }
  .rc-tabs-left > .rc-tabs-nav .rc-tabs-ink-bar,
  .rc-tabs-right > .rc-tabs-nav .rc-tabs-ink-bar,
  .rc-tabs-left > div > .rc-tabs-nav .rc-tabs-ink-bar,
  .rc-tabs-right > div > .rc-tabs-nav .rc-tabs-ink-bar {
    width: 2px;
  }
  .rc-tabs-left > .rc-tabs-nav .rc-tabs-ink-bar-animated,
  .rc-tabs-right > .rc-tabs-nav .rc-tabs-ink-bar-animated,
  .rc-tabs-left > div > .rc-tabs-nav .rc-tabs-ink-bar-animated,
  .rc-tabs-right > div > .rc-tabs-nav .rc-tabs-ink-bar-animated {
    -webkit-transition: height 0.3s, top 0.3s;
    transition: height 0.3s, top 0.3s;
  }
  .rc-tabs-left > .rc-tabs-nav .rc-tabs-nav-list,
  .rc-tabs-right > .rc-tabs-nav .rc-tabs-nav-list,
  .rc-tabs-left > div > .rc-tabs-nav .rc-tabs-nav-list,
  .rc-tabs-right > div > .rc-tabs-nav .rc-tabs-nav-list,
  .rc-tabs-left > .rc-tabs-nav .rc-tabs-nav-operations,
  .rc-tabs-right > .rc-tabs-nav .rc-tabs-nav-operations,
  .rc-tabs-left > div > .rc-tabs-nav .rc-tabs-nav-operations,
  .rc-tabs-right > div > .rc-tabs-nav .rc-tabs-nav-operations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rc-tabs-left > .rc-tabs-nav .rc-tabs-ink-bar,
  .rc-tabs-left > div > .rc-tabs-nav .rc-tabs-ink-bar {
    right: 0;
  }
  .rc-tabs-left > .rc-tabs-content-holder,
  .rc-tabs-left > div > .rc-tabs-content-holder {
    margin-left: -1px;
    border-left: 1px solid #f0f0f0;
  }
  .rc-tabs-left > .rc-tabs-content-holder > .rc-tabs-content > .rc-tabs-tabpane,
  .rc-tabs-left > div > .rc-tabs-content-holder > .rc-tabs-content > .rc-tabs-tabpane {
    padding-left: 24px;
  }
  .rc-tabs-right > .rc-tabs-nav,
  .rc-tabs-right > div > .rc-tabs-nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .rc-tabs-right > .rc-tabs-nav .rc-tabs-ink-bar,
  .rc-tabs-right > div > .rc-tabs-nav .rc-tabs-ink-bar {
    left: 0;
  }
  .rc-tabs-right > .rc-tabs-content-holder,
  .rc-tabs-right > div > .rc-tabs-content-holder {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-right: -1px;
    border-right: 1px solid #f0f0f0;
  }
  .rc-tabs-right > .rc-tabs-content-holder > .rc-tabs-content > .rc-tabs-tabpane,
  .rc-tabs-right > div > .rc-tabs-content-holder > .rc-tabs-content > .rc-tabs-tabpane {
    padding-right: 24px;
  }
  .rc-tabs-dropdown {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
            font-feature-settings: 'tnum';
    position: absolute;
    top: -9999px;
    left: -9999px;
    z-index: 1050;
    display: block;
  }
  .rc-tabs-dropdown-hidden {
    display: none;
  }
  .rc-tabs-dropdown-menu {
    max-height: 200px;
    margin: 0;
    padding: 4px 0;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    list-style-type: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 2px;
    outline: none;
    -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
            box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  }
  .rc-tabs-dropdown-menu-item {
    min-width: 120px;
    margin: 0;
    padding: 5px 12px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.85);
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .rc-tabs-dropdown-menu-item:hover {
    background: #f5f5f5;
  }
  .rc-tabs-dropdown-menu-item-disabled,
  .rc-tabs-dropdown-menu-item-disabled:hover {
    color: rgba(0, 0, 0, 0.25);
    background: transparent;
    cursor: not-allowed;
  }
  .rc-tabs-card > .rc-tabs-nav .rc-tabs-tab,
  .rc-tabs-card > div > .rc-tabs-nav .rc-tabs-tab {
    margin: 0;
    padding: 8px 16px;
    background: #fafafa;
    border: 1px solid #f0f0f0;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .rc-tabs-card > .rc-tabs-nav .rc-tabs-tab-active,
  .rc-tabs-card > div > .rc-tabs-nav .rc-tabs-tab-active {
    color: #325880;
    background: #fff;
  }
  .rc-tabs-card > .rc-tabs-nav .rc-tabs-ink-bar,
  .rc-tabs-card > div > .rc-tabs-nav .rc-tabs-ink-bar {
    visibility: hidden;
  }
  .rc-tabs-card.rc-tabs-top > .rc-tabs-nav .rc-tabs-tab:not(:last-of-type),
  .rc-tabs-card.rc-tabs-bottom > .rc-tabs-nav .rc-tabs-tab:not(:last-of-type),
  .rc-tabs-card.rc-tabs-top > div > .rc-tabs-nav .rc-tabs-tab:not(:last-of-type),
  .rc-tabs-card.rc-tabs-bottom > div > .rc-tabs-nav .rc-tabs-tab:not(:last-of-type) {
    margin-right: 2px;
  }
  .rc-tabs-card.rc-tabs-top > .rc-tabs-nav .rc-tabs-tab,
  .rc-tabs-card.rc-tabs-top > div > .rc-tabs-nav .rc-tabs-tab {
    border-radius: 2px 2px 0 0;
  }
  .rc-tabs-card.rc-tabs-top > .rc-tabs-nav .rc-tabs-tab-active,
  .rc-tabs-card.rc-tabs-top > div > .rc-tabs-nav .rc-tabs-tab-active {
    border-bottom-color: #fff;
  }
  .rc-tabs-card.rc-tabs-bottom > .rc-tabs-nav .rc-tabs-tab,
  .rc-tabs-card.rc-tabs-bottom > div > .rc-tabs-nav .rc-tabs-tab {
    border-radius: 0 0 2px 2px;
  }
  .rc-tabs-card.rc-tabs-bottom > .rc-tabs-nav .rc-tabs-tab-active,
  .rc-tabs-card.rc-tabs-bottom > div > .rc-tabs-nav .rc-tabs-tab-active {
    border-top-color: #fff;
  }
  .rc-tabs-card.rc-tabs-left > .rc-tabs-nav .rc-tabs-tab:not(:last-of-type),
  .rc-tabs-card.rc-tabs-right > .rc-tabs-nav .rc-tabs-tab:not(:last-of-type),
  .rc-tabs-card.rc-tabs-left > div > .rc-tabs-nav .rc-tabs-tab:not(:last-of-type),
  .rc-tabs-card.rc-tabs-right > div > .rc-tabs-nav .rc-tabs-tab:not(:last-of-type) {
    margin-bottom: 2px;
  }
  .rc-tabs-card.rc-tabs-left > .rc-tabs-nav .rc-tabs-tab,
  .rc-tabs-card.rc-tabs-left > div > .rc-tabs-nav .rc-tabs-tab {
    border-radius: 2px 0 0 2px;
  }
  .rc-tabs-card.rc-tabs-left > .rc-tabs-nav .rc-tabs-tab-active,
  .rc-tabs-card.rc-tabs-left > div > .rc-tabs-nav .rc-tabs-tab-active {
    border-right-color: #fff;
  }
  .rc-tabs-card.rc-tabs-right > .rc-tabs-nav .rc-tabs-tab,
  .rc-tabs-card.rc-tabs-right > div > .rc-tabs-nav .rc-tabs-tab {
    border-radius: 0 2px 2px 0;
  }
  .rc-tabs-card.rc-tabs-right > .rc-tabs-nav .rc-tabs-tab-active,
  .rc-tabs-card.rc-tabs-right > div > .rc-tabs-nav .rc-tabs-tab-active {
    border-left-color: #fff;
  }
  .rc-tabs {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
            font-feature-settings: 'tnum';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }
  .rc-tabs > .rc-tabs-nav,
  .rc-tabs > div > .rc-tabs-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .rc-tabs > .rc-tabs-nav .rc-tabs-nav-wrap,
  .rc-tabs > div > .rc-tabs-nav .rc-tabs-nav-wrap {
    position: relative;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .rc-tabs > .rc-tabs-nav .rc-tabs-nav-wrap::before,
  .rc-tabs > div > .rc-tabs-nav .rc-tabs-nav-wrap::before,
  .rc-tabs > .rc-tabs-nav .rc-tabs-nav-wrap::after,
  .rc-tabs > div > .rc-tabs-nav .rc-tabs-nav-wrap::after {
    position: absolute;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    content: '';
    pointer-events: none;
  }
  .rc-tabs > .rc-tabs-nav .rc-tabs-nav-list,
  .rc-tabs > div > .rc-tabs-nav .rc-tabs-nav-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .rc-tabs > .rc-tabs-nav .rc-tabs-nav-operations,
  .rc-tabs > div > .rc-tabs-nav .rc-tabs-nav-operations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
  .rc-tabs > .rc-tabs-nav .rc-tabs-nav-operations-hidden,
  .rc-tabs > div > .rc-tabs-nav .rc-tabs-nav-operations-hidden {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
  }
  .rc-tabs > .rc-tabs-nav .rc-tabs-nav-more,
  .rc-tabs > div > .rc-tabs-nav .rc-tabs-nav-more {
    position: relative;
    padding: 8px 16px;
    background: transparent;
    border: 0;
  }
  .rc-tabs > .rc-tabs-nav .rc-tabs-nav-more::after,
  .rc-tabs > div > .rc-tabs-nav .rc-tabs-nav-more::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 5px;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    content: '';
  }
  .rc-tabs > .rc-tabs-nav .rc-tabs-nav-add,
  .rc-tabs > div > .rc-tabs-nav .rc-tabs-nav-add {
    min-width: 40px;
    padding: 0 8px;
    background: #fafafa;
    border: 1px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .rc-tabs > .rc-tabs-nav .rc-tabs-nav-add:hover,
  .rc-tabs > div > .rc-tabs-nav .rc-tabs-nav-add:hover {
    color: #325880;
  }
  .rc-tabs > .rc-tabs-nav .rc-tabs-nav-add:active,
  .rc-tabs > div > .rc-tabs-nav .rc-tabs-nav-add:active,
  .rc-tabs > .rc-tabs-nav .rc-tabs-nav-add:focus,
  .rc-tabs > div > .rc-tabs-nav .rc-tabs-nav-add:focus {
    color: #325880;
  }
  .rc-tabs-extra-content {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .rc-tabs-centered > .rc-tabs-nav .rc-tabs-nav-wrap:not([class*='ant-tabs-nav-wrap-ping']),
  .rc-tabs-centered > div > .rc-tabs-nav .rc-tabs-nav-wrap:not([class*='ant-tabs-nav-wrap-ping']) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rc-tabs-ink-bar {
    position: absolute;
    background: #325880;
    pointer-events: none;
  }
  .rc-tabs-tab {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 32px 0 0;
    padding: 12px 0;
    font-size: 14px;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  .rc-tabs-tab:last-of-type {
    margin-right: 0;
    margin-left: 0;
  }
  .rc-tabs-tab-btn:focus,
  .rc-tabs-tab-remove:focus,
  .rc-tabs-tab-btn:active,
  .rc-tabs-tab-remove:active {
    color: #325880;
  }
  .rc-tabs-tab-btn {
    outline: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .rc-tabs-tab-remove {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-right: -4px;
    margin-left: 8px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 12px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .rc-tabs-tab-remove:hover {
    color: rgba(0, 0, 0, 0.85);
  }
  .rc-tabs-tab:hover {
    color: #325880;
  }
  .rc-tabs-tab.rc-tabs-tab-active .rc-tabs-tab-btn {
    color: #325880;
    font-weight: 500;
  }
  .rc-tabs-tab.rc-tabs-tab-disabled {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
  .rc-tabs-tab.rc-tabs-tab-disabled .rc-tabs-tab-btn:focus,
  .rc-tabs-tab.rc-tabs-tab-disabled .rc-tabs-tab-remove:focus,
  .rc-tabs-tab.rc-tabs-tab-disabled .rc-tabs-tab-btn:active,
  .rc-tabs-tab.rc-tabs-tab-disabled .rc-tabs-tab-remove:active {
    color: rgba(0, 0, 0, 0.25);
  }
  .rc-tabs-tab .rc-tabs-tab-remove .anticon {
    margin: 0;
  }
  .rc-tabs-tab .anticon {
    margin-right: 12px;
  }
  .rc-tabs-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .rc-tabs-content-holder {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    min-width: 0;
    min-height: 0;
  }
  .rc-tabs-content-animated {
    -webkit-transition: margin 0.3s;
    transition: margin 0.3s;
  }
  .rc-tabs-tabpane {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    outline: none;
  }
  